body{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
#base{
    border-bottom: 1px solid black;
}
#titlebox{
    width: 600px;
    height: 150px;
    background-color: beige;
    margin: 0px auto;
    border-radius: 5px;
    text-align: center;
}

#Title{
    text-align: center;
    padding-top: 25px;
    margin: 10px;
    font-size: 40px;
    color: rgb(159, 140, 118);
}
h5{
    text-align: center;
    font-size: 25px;
    color: rgb(159, 140, 118);
    margin: 30px;
    margin-top: 20px;
}
a{
    margin: 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration-style: dotted;
    color: rgb(113, 113, 113);
}
#Links{
    text-align: center;
}
#image{
    background-image: url("ein.jpg");
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px auto;
    border-radius: 50%;
    border: 1px solid black;
    border-bottom-width: 2px;
    text-align: center;
}
#info{
    border-top: 1px solid lightgray;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#text{    
    margin-left: 435px;
    width: 600px;
    border-bottom: 1px solid lightgray;
}
footer{
    text-align: center;
    margin: 20px;
    font-size: 14px;
}